div .QRCode-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:inherit;
    height: inherit;
}

.QRCode-menu .App-btn {
    width:10rem;
    height:4rem;
    margin:0.5rem;
}