.App {
  text-align: center;
}

.App-logo {
  position: absolute;
  left:0;
  top:0;
  width: 150px;
  height: 100px;
  padding-top: 10px;
} 

.App-container{
  width: 100vw;
  height: 100vh;
}

div .App-btn {
  background-color: #F4A261;
  color:white;
}

div .App-btn-lng {
  position: absolute;
  right: 1%;
  top: 2%;
  padding: 1.5rem 3rem;
}

div .App-btn:hover{
  background-color: #F4A261;
  opacity: 0.7;
}

img:hover {
  cursor: pointer;
}